PORT=5000

DB_HOST=localhost
DB_USER=your_username
DB_PASS=your_password
DB_NAME=rakshak_db

JWT_SECRET=your_secret_key

REDIS_URL=your_redis_url

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret